/*
	Buttons
	Media: screen, projection
	Author: Yoni De Beule
	        Johan Ronsse
*/

/* Buttons */

.inputSubmit,
.inputButton,
button,
.button:link,
.button:visited {
	font: 700 11px/1.363 Arial, sans-serif;
	color: #FFF;
	background: #366EAC;
	background: -moz-linear-gradient(top, #6FACF1 0%, #366EAC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6FACF1), color-stop(100%,#366EAC));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6FACF1', endColorstr='#366EAC',GradientType=0 )chroma(color=#000000);
	border: 1px solid #366EAC;
	padding: 3px;
	cursor: pointer;
	overflow: visible;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

	/* Fix alignment in Chrome/Saf */
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.inputSubmit,
		.inputButton,
		button {
			height: 24px;
		}

		.inputSubmit,
		.inputButton,
		button {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

.inputSubmit:hover,
.inputButton:hover,
button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus,
.buttonHover,
.buttonHover:link,
.buttonHover:visited {
	background: #2D5C91;
	background: -moz-linear-gradient(top, #366EAC 0%, #6FACF1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#366EAC), color-stop(100%,#6FACF1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366EAC', endColorstr='#6FACF1',GradientType=0 )chroma(color=#000000);
}

.disabledButton,
.disabledButton:link,
.disabledButton:visited,
.disabledButton:hover,
.disabledButton:active,
.disabledButton:focus {
	cursor: default;
	opacity: .50;
	filter: alpha(opacity=50);
	-ms-filter: "alpha(opacity=50)";
	-khtml-opacity: .50;
	-moz-opacity: .50;
}

input.inputSubmit[disabled],
input.inputButton[disabled],
button[disabled],
input.inputSubmit[disabled]:hover,
input.inputButton[disabled]:hover,
button[disabled]:hover,
input.inputSubmit[disabled]:active,
input.inputButton[disabled]:active,
button[disabled]:active {
	pointer-events: none;
	background: #366EAC;
	background: -moz-linear-gradient(top, #6FACF1 0%, #366EAC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6FACF1), color-stop(100%,#366EAC));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6FACF1', endColorstr='#366EAC',GradientType=0 );
}

.button:link,
.button:visited,
.button:active,
.button:hover,
.button:focus {
	text-decoration: none;
	padding: 5px 6px 4px 6px;
}